<div class="row shadow-top" style="margin-top: 95px;">
  <div class="col-md-6">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">T-shirts</a></li>
        <li class="breadcrumb-item active" aria-current="page">Disney Series - Mickey</li>
      </ol>
    </nav>
    <img class="detail-img" src="http://im.uniqlo.com/images/common/pc/goods/402748/item/00_402748_middles.jpg">
  </div>
  <div class="col-md-6 col" style="margin-top: 50px;">
    <h4>Disney Series - Mickey</h4>
    <h5>$19.99</h5>
    <div class="row" style="padding: 15px;">
      <div class="form-group">
        <label>Colour</label>
        <select class="form-control">
          <option>Jet Black</option>
          <option>Baby Blue</option>
          <option>Lime Green</option>
          <option>Broken White</option>
        </select>
      </div>
      <div class="form-group">
        <label>Size</label>
        <select class="form-control">
          <option>XS</option>
          <option>S</option>
          <option>M</option>
          <option>L</option>
          <option>XL</option>
        </select>
      </div>
    </div>
    <button>ADD TO CART</button>
    <div class="row" style="padding: 15px;">
      <i class="fa fa-facebook-official" aria-hidden="true"></i><a href="#" class="fsmall">Share</a>
      <i class="fa fa-twitter" aria-hidden="true"></i><a href="#" class="fsmall">Tweet</a>
      <i class="fa fa-pinterest-p" aria-hidden="true"></i><a href="#" class="fsmall">Pin</a>
    </div>
  </div>
</div>